h2{
    margin: 0.5em 0;
}

p{
    margin: 0.5em 0;
    line-height: 1.6;
}

.appWrapper{
    display: grid;
    height: 100vh;

    grid-template-areas:
      "h"
      "c"
      "f";

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.appWrapperContent{
    width: 1140px;
    margin: 0 auto;

    background-color: #fff;

    grid-area: c;
    display: grid;
    grid-template-areas:
      "s p";

    grid-template-columns: 2.5fr 9.5fr;
}

.pageContent{
    grid-area: p;
    padding: 20px 30px;
}



.btn {
    padding: 0.5rem 1rem;
    font-size: 0.9em;
    position: relative;
    color: white;
    background-color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--primary-color));
    border-radius: 4px;
    display: inline-block;
    margin: 0.5em 0;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.btn:hover {
    color: rgb(var(--primary-color)) ;
    background-color: white;
}